<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

{{partial "head.html" .}}
<body class="page-template-default page page-id-2424">

    <div id="top">
        <div id="masthead">
            <div id="logo">
                <h1 class="sitename"><a href="/" title=""><img class="sitetitle"
                            src="{{"/img/marca_Paulina3.png" | relURL }}"
                            alt="PAULINA PINSKY" /></a></h1>
                <div class="description"></div>
            </div>
        </div>

        {{ partial "menu.html" .}}
        <div class="clear"></div>
    </div>

    <div class="container">
        <div class="container-inner">
            {{ .Content}}
            <div class="span-8 last">
                <div id="sidebar">
                    <div class="item">
                        <h3 class="sub">Tags</h3>
                        {{ partial "tags.html" . }}                   
                     </div>
                </div>
            </div>

            <div class="clear"></div>
        </div>
    </div>
{{ partial "footer.html" .}}
<script type="ce321d7400717018bf153d5c-text/javascript"
src="{{"/js/jquery.form.min.js" | relURL }}"></script>
<script type="ce321d7400717018bf153d5c-text/javascript"
src='{{"/js/scripts.js" | relURL }}'></script>
<script type="ce321d7400717018bf153d5c-text/javascript"
src="{{"/js/wp-embed.min.js" | relURL }}"></script>

<script src="{{"/js/rocket-loader.min.js" | relURL }}"
data-cf-settings="ce321d7400717018bf153d5c-|49" defer=""></script>
</body>

</html>