<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

{{ partial "head.html" .}}

<body class="archive category category-biblia-bible category-18">

    <div id="top">
        <div id="masthead">
            <div id="logo">
                <h1 class="sitename"><a href="/" title=""><img class="sitetitle"
                            src="{{"/img/marca_Paulina3.png" | relURL }}"
                            alt="PAULINA PINSKY" /></a></h1>
                <div class="description"></div>
            </div>
        </div>

        {{ partial "menu.html" .}}
        <div class="clear"></div>
    </div>

    <div class="container">
        <div class="container-inner">

            <div class="span-15 colborder home">
                <h3 class="sub">{{ .Params.Title }}</h3>
                <div class="clear"></div>
                <div class="content">
                    {{ range where .Paginator.Pages "Section" "blog" }}
                    <div
                        class="post-2459 post type-post status-publish format-standard has-post-thumbnail hentry category-biblia-bible tag-22">
                        <h2><a href="{{ .Permalink }}" rel="bookmark" title="{{ .Params.title}}">{{ .Params.title}}</a></h2>
                        <a href="{{ .Permalink }}" title="{{ .Params.link}}"><img src="{{ .Params.image}}"
                                alt="A Destruição de Sodoma / The Destruction of Sodoma"
                                class="thumbnail thumbnail thumbnail " width="150" height="150" /></a>
                        <p>{{ .Params.statement }}</p>
                        <div class="clear"></div>
                        <p class="postmetadata">Jun 15, 2010 | Categories:
                            {{ range .Params.Categories }}
                            <a href="/{{ . }}"
                            rel="category">{{ . }}</a>
                            {{ end }}
                               
                                 | Tags: 
                                 {{ range .Params.Tags}}
                                 <a
                                href="/tags/{{ . }}" rel="tag">{{ . }}</a> 
                                {{end}}
                                | <span>Comments
                                Off<span class="screen-reader-text">  {{ .Params.title}}</span></span> </p>
                    </div>
                    <hr />
                    {{ end}}
                    
                    
                    <div class="clear"></div>
                    <div class="nav-interior">
                        <div class="prev"></div>
                        <div class="next"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="span-8 last">
                <div id="sidebar">
                    <div class="item">
                        <h3 class="sub">Tags</h3>
                        {{ partial "tags.html" . }}
                    </div>
                </div>
            </div>

            <div class="clear"></div>
        </div>
        
    </div>
    {{ partial "footer.html" .}}
        <script type="ce321d7400717018bf153d5c-text/javascript" src="{{"/js/jquery.form.min.js" | relURL }}"></script>
        <script type="ce321d7400717018bf153d5c-text/javascript" src="{{"/js/scripts.js" | relURL }}"></script>
        <script type="ce321d7400717018bf153d5c-text/javascript" src="{{"/js/wp-embed.min.js" | relURL }}"></script>

        <script src="{{"/js/rocket-loader.min.js" | relURL }}" data-cf-settings="ce321d7400717018bf153d5c-|49" defer="">
        </script>
</body>

</html>