
        <ul class="sf-menu">
            <li>
                <a href="#" title="categories">Obras / Paintings</a>
                <ul>
                    <li class="cat-item cat-item-18"><a href="/categories/bible">Bíblia &#8211;
                            Bible</a>
                    </li>
                    <li class="cat-item cat-item-49"><a href="/categories/diversos">Diversos /
                            Miscellaneous</a>
                    </li>
                    <li class="cat-item cat-item-17"><a href="/categories/homennagem">Homenagem /
                            Homage</a>
                    </li>
                    <li class="cat-item cat-item-13"><a href="/categories/interiores">Interiores /
                            Interiors</a>
                    </li>
                    <li class="cat-item cat-item-16"><a href="/categories/objetos">Objetos /
                            Objects</a>
                    </li>
                    <li class="cat-item cat-item-15"><a href="/categories/obras-disponiveis">Obras disponíveis /
                            Available</a>
                    </li>
                    <li class="cat-item cat-item-6"><a href="/categories/praia">Praia / Beach</a>
                    </li>
                    <li class="cat-item cat-item-3"><a href="/categories/tapetes">Tapetes / Rugs</a>
                    </li>
                    <li class="cat-item cat-item-1"><a href="/categories/uncategorized">Uncategorized</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" title="pages">Perfil / Profile</a>
                <ul>
                    <li class="page_item page-item-2424"><a href="/biographia">Biographia
                            &#8211; Life Story</a></li>
                    <li class="page_item page-item-134"><a href="/textos-criticos">Textos
                            Críticos / Critiques</a></li>
                    <li class="page_item page-item-16"><a href="/historical-background">Histórico /
                            Background</a></li>
                    <li class="page_item page-item-23"><a href="/curriculum">Curriculum</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="" title="Contato / Contact">Contato / Contact</a>
                <ul>
                    <li><a href="/contact" title="E-mail">E-mail</a></li>
                </ul>
            </li>
        </ul>