<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

{{ partial "head.html" . }}
<body class="home blog">

    <div id="top">
        <div id="masthead">
            <div id="logo">
                <h1 class="sitename"><a href="/" title=""><img class="sitetitle"
                            src="{{"/img/marca_Paulina3.png" | relURL }}"
                            alt="PAULINA PINSKY" /></a></h1>
                <div class="description"></div>
            </div>
        </div>
{{ partial "menu.html" . }}
        <div class="clear"></div>
    </div>

    <div class="container">
        <div class="container-inner">



            <div class="app">
                <div id="slideshow">
                    <div class="slide"><img alt="PAULINA PINSKY: slideshow image 1"
                            src="{{"/img/oinoisaquitraveis_slideshow_01.jpg" | relURL }}"
                            title="PAULINA PINSKY" /></div>
                    <div class="slide"><img alt="PAULINA PINSKY: slideshow image 2"
                            src="{{"/img/Obra_recente_03_03_03.jpg" | relURL }}"
                            title="PAULINA PINSKY" /></div>
                    <div class="slide"><img alt="PAULINA PINSKY: slideshow image 3"
                            src="{{"/img/NAIF_03_03.jpg" | relURL }}"
                            title="PAULINA PINSKY" /></div>
                    <div class="slide"><img alt="PAULINA PINSKY: slideshow image 4"
                            src="{{"/img/vangoghnacabeca.jpg" | relURL }}"
                            title="PAULINA PINSKY" /></div>
                    <div class="slide"><img alt="PAULINA PINSKY: slideshow image 5"
                            src="{{"/img/marinaintelaviv_01.jpg" | relURL }}"
                            title="PAULINA PINSKY" /></div>
                </div>
            </div>

            <div id="slider-section">
                <div class="sliderGallery">
                    <ul class="items">
                        <li class="post-2555 slider-item">
                            <a href="/categories/diversos/flowerquilt" rel="bookmark"
                                title="Permanent Link to A Flowered Quilt"><img
                                    src="{{"/img/41-150x150.jpg" | relURL }}"
                                    alt="A Flowered Quilt" class="thumbnail thumbnail thumbnail " width="150"
                                    height="150" /><span class="slider-title">A Flowered Quilt</span></a>
                        </li>
                        <li class="post-2531 slider-item">
                            <a href="/categories/interiores/shabat" rel="bookmark"
                                title="Permanent Link to Shabat Cuzquenho"><img
                                    src="{{"/img/DSC06943_thumb1.jpg" | relURL }}"
                                    alt="Shabat Cuzquenho" class="thumbnail thumbnail thumbnail " width="150"
                                    height="150" /><span class="slider-title">Shabat Cuzquenho</span></a>
                        </li>
                        <li class="post-2448 slider-item">
                            <a href="/categories/homennagem/galeria" rel="bookmark"
                                title="Permanent Link to A Galeria / The Gallery"><img
                                    src="{{"/img/P1000460_thumb.jpg" | relURL }}"
                                    alt="A Galeria / The Gallery" class="thumbnail thumbnail thumbnail " width="150"
                                    height="150" /><span class="slider-title">A Galeria / The Gallery</span></a>
                        </li>
                        <li class="post-2345 slider-item">
                            <a href="/categories/interiores/padro" rel="bookmark"
                                title="Permanent Link to Pedro Paulo c/ Bassê / Pedro Paulo with Dachhund"><img
                                    src="{{"/img/928_thumb.jpg" | relURL }}"
                                    alt="Pedro Paulo c/ Bassê / Pedro Paulo with Dachhund"
                                    class="thumbnail thumbnail thumbnail " width="150" height="150" /><span
                                    class="slider-title">Pedro Paulo c/ Bassê / Pedro Paulo with Dachhund</span></a>
                        </li>
                        <li class="post-2338 slider-item">
                            <a href="/categories/praia" rel="bookmark"
                                title="Permanent Link to Ao lado da Passagem / By the Passageway"><img
                                    src="{{"/img/DSC06243A_thumb.jpg" | relURL }}"
                                    alt="Ao lado da Passagem / By the Passageway" class="thumbnail thumbnail thumbnail "
                                    width="150" height="150" /><span class="slider-title">Ao lado da Passagem / By the
                                    Passageway</span></a>
                        </li>
                        <li class="post-2335 slider-item">
                            <a href="/categories/interiores/contemplation" rel="bookmark"
                                title="Permanent Link to Contemplação / Contemplation"><img
                                    src="{{"/img/DSC06239A_thumb.jpg" | relURL }}"
                                    alt="Contemplação / Contemplation" class="thumbnail thumbnail thumbnail "
                                    width="150" height="150" /><span class="slider-title">Contemplação /
                                    Contemplation</span></a>
                        </li>
                        <li class="post-1708 slider-item">
                            <a href="/categories/obras-disponiveis/sugar-loaf" rel="bookmark"
                                title="Permanent Link to Pão de Açucar / Sugar Loaf"><img
                                    src="{{"/img/Paulina035_thumb1.jpg" | relURL }}"
                                    alt="Pão de Açucar / Sugar Loaf " class="thumbnail thumbnail thumbnail " width="150"
                                    height="150" /><span class="slider-title">Pão de Açucar / Sugar Loaf</span></a>
                        </li>
                       <!-- <li class="post-1674 slider-item">
                            <a href="https://paulinapinsky.com.br/?p=1674" rel="bookmark"
                                title="Permanent Link to Après le Vietnam"><img
                                    src="{{"/img/Paulina026_thumb.jpg" | relURL }}"
                                    alt="Après le Vietnam" class="thumbnail thumbnail thumbnail " width="150"
                                    height="150" /><span class="slider-title">Après le Vietnam</span></a>
                        </li>
                        <li class="post-1666 slider-item">
                            <a href="https://paulinapinsky.com.br/?p=1666" rel="bookmark"
                                title="Permanent Link to You Can See Interior, Land &#038; Sea"><img
                                    src="{{"/img/Paulina023_thumb.jpg" | relURL }}"
                                    alt="You Can See Interior, Land &amp; Sea" class="thumbnail thumbnail thumbnail "
                                    width="150" height="150" /><span class="slider-title">You Can See Interior, Land
                                    &#038; Sea</span></a>
                        </li>
                        <li class="post-1640 slider-item">
                            <a href="https://paulinapinsky.com.br/?p=1640" rel="bookmark"
                                title="Permanent Link to Music and a Flower Carpet"><img
                                    src="{{"/img/Paulina018_thumb.jpg" | relURL }}"
                                    alt="Music and a Flower Carpet" class="thumbnail thumbnail thumbnail " width="150"
                                    height="150" /><span class="slider-title">Music and a Flower Carpet</span></a>
                        </li>-->
                    </ul>
                </div>
            </div>
            <div id="slider-handle">
                <div id="content-slider"></div>
            </div>


            <div class="app">
                <div id="blog-section">
                    <div class="span-15 colborder home">
                        <h3 class="sub">Notícias / News</h3>
                        <div
                            class="post-94 post type-post status-publish format-standard hentry category-noticias-news">
                            <h2><a href="/news" rel="bookmark"
                                    title="Permanent Link to Moldura / Frame">Moldura / Frame</a></h2>
                            <div class="entry">
                                <div>
                                    <p><a href="/frame"><img
                                                src="{{"/img/moldura.jpg" | relURL }}"></a>
                                    </p>
                                    <p>&nbsp;</p>
                                    <p>Ao adquirir sua pintura…adorne-a com uma moldura; assim, quando você olhar para
                                        ela, os raios do olhar ficarão retidos e não espalhados para fora.<br />
                                        <strong>NICOLAS POUSSIN – artista – 1639</strong></p>
                                    <p><strong><span style="color: #b8860b;">When buying a painting&#8230;frame it; in
                                                doing so, when you look at it, your sight will be retained, not allowed
                                                to escape it. Nicolas Poussin &#8211; artist &#8211;
                                                1639</span></strong></p>
                                    <p>Qual o papel da moldura. Será que ela tem um. Onde começa. Onde termina. Qual o
                                        limite interno. Externo. E a superfície entre os dois limites.<br />
                                        <strong>JACQUES DERRIDA – teórico – 1979</strong></p>
                                    <p><strong><span style="color: #b8860b;">What is the role of the frame. Does it have
                                                one. Where does it start. Where does it end. Where are its internal
                                                limits. External. And the surface between both .</span></strong></p>
                                    <p>Os pintores vivem entocados nos limites de suas molduras.<br />
                                        <strong>JOSE ORTEGA y GASSET – escritor – 1943</strong></p>
                                    <p><strong><span style="color: #b8860b;">The painters remain inside the limits of
                                                their frames. &#8211; José Ortega y Gasset &#8211; writer &#8211;
                                                1943</span></strong></p>
                                    <p>Que mão ou olho imortais poderiam emoldurar tua intrépida simetria?<br />
                                        <strong>WILLIAM BLAKE – artista e poeta – 1794</strong></p>
                                    <p><strong><span style="color: #b8860b;">What immortal hand or eye could frame your
                                                intrepid symmetry?</span></strong></p>
                                    <p><strong><br />
                                        </strong></p>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <p class="postmetadata">Apr 14, 2010 | Categories:<a
                                    href="/categories/notification" rel="category">Notícias / News</a> |
                                <span>Comments Off<span class="screen-reader-text"> on Moldura / Frame</span></span>
                            </p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="span-8 last">
                <div id="sidebar">
                    <div class="item">
                        <h3 class="sub">Tags</h3>
                        {{ partial "tags.html" . }}
                    </div>
                </div>
            </div>
            <hr />

            <div class="clear"></div>
        </div>
    </div>
{{ partial "footer.html" . }}
    <script type="ce321d7400717018bf153d5c-text/javascript"
        src="{{"/js/jquery.form.min.js" | relURL }}"></script>
    <script type="ce321d7400717018bf153d5c-text/javascript"
        src='{{"/js/scripts.js" | relURL }}'></script>
    <script type="ce321d7400717018bf153d5c-text/javascript"
        src="{{"/js/wp-embed.min.js" | relURL }}"></script>

    <script src="{{"/js/rocket-loader.min.js" | relURL }}"
        data-cf-settings="ce321d7400717018bf153d5c-|49" defer=""></script>
</body>

</html>